/* ================ *
 * MAIN             *
 * ================ */
.btn {
  cursor: pointer; }

.tooltip-anchor {
  cursor: default;
  border-bottom: 1px dotted blue;
  color: #333;
  padding: 0 0.2em; }
  .tooltip-anchor:hover {
    text-decoration: none;
    color: #333; }

.table td,
.table th {
  vertical-align: middle; }

.inline-list {
  margin-bottom: 0; }
  .inline-list > li {
    display: inline; }
    .inline-list > li:not(:last-child):after {
      content: "\00B7"; }

.tooltip .arrow {
  top: 50%; }

.tooltip[aria-hidden="false"] {
  opacity: 1; }
